@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}

header {
  background-color: #24053e;
  padding: 56px 160px 0 160px;
  min-height: 771px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav > a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #44ffa1;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 5px;
}

header > h1 {
  margin-top: 56px;
  color: #fff;
  max-width: 635px;
  font-family: "Fraunces", serif;
  font-size: 80px;
  font-weight: 600;
  padding-bottom: 5px;
  margin-bottom: 40px;
  overflow-x: hidden;
}

h1 > span {
  border-bottom: 3px solid #44ffa1;
}

header > a {
  background-color: #44ffa1;
  color: #24053e;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  padding: 12px 32px;
}

.left-pattern {
  position: absolute;
  left: -100px;
  top: 157px;
}

.right-pattern {
  position: absolute;
  right: -60px;
  top: 251px;
}

.hero-image {
  width: 715px;
  height: 427px;
  margin-top: -200px;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section {
  margin-top: 102px;
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card {
  max-width: 352px;
  text-align: center;
}

.card > span {
  width: 56px;
  height: 56px;
  display: inline-block;
  padding-top: 8px;
  font-size: 24px;
  font-weight: 600;
  color: #24053e;
  font-family: Fraunces, serif;
  border-radius: 50px;
  border: 1px solid #24053e;
}

.card > h3 {
  color: #24053e;
  font-size: 32px;
  font-family: "Fraunces", serif;
  font-weight: 600;
  line-height: 38px;
  margin-top: 56px;
  margin-bottom: 28px;
}

.card > p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #24053e;
  line-height: 32px;
}

.bottom-section {
  margin-top: 328px;
  width: 100%;
  min-height: 100px;
  position: relative;
  padding-bottom: 93px;
  padding-left: 160px;
}

.bottom-section > img {
  width: 477px;
  height: 477px;
}

.container {
  width: 730px;
  height: 411px;
  background-color: #24053e;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 160px;
  padding: 64px;
}

.container > h2 {
  color: #fff;
  font-size: 56px;
  font-weight: 600;
  font-family: "Fraunces", serif;
}

.container > p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  margin: 32px 0;
}

.container > a {
  background-color: #44ffa1;
  color: #24053e;
  padding: 12px 32px;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

.container > img {
  position: absolute;
  z-index: 1;
  right: 107px;
  top: 264px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 112px 0;
  gap: 56px;
}

.social-icons {
  display: flex;
  gap: 28px;
}
